@import "tailwindcss";

:root {
  --color-box: #e5e7eb;
  --color-title: #030711;
  --color-main: #6467f2;
  --color-second: #b447eb;
  --color-text: #6b7280;
  --color-line-bg: #f3f4f6;
}

.container {
  width: 100%;
  max-width: 1370px;
  padding-right: 20px;
  padding-left: 20px;
  margin: auto;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@keyframes move {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.lang-btn {
  cursor: pointer;
  padding: 9px 12px;
  border-radius: 10px;
}
