@import "tailwindcss";

html {
  font-size: 62.5%;
}

:root {
  --color-box: #e5e7eb;
  --color-title: #030711;
  --color-main: #6467f2;
  --color-second: #b447eb;
  --color-text: #6b7280;
  --color-line-bg: #f3f4f6;
}

.container {
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  max-width: 1400px;
}

.lang-btn {
  cursor: pointer;
  padding: 9px 12px;
  border-radius: 10px;
}
